@using Microsoft.AspNetCore.Components.Routing
@using STTproject.Services

@inherits LayoutComponentBase

@inject IUserContextService userContext
@inject NavigationManager Navigation

<div class="layout-container">

    <!-- Topbar -->
    <UserTopBar />

    <!-- Main Layout -->
    <div class="main-layout">

        <!-- Sidebar -->
        <nav class="sidebar">

            <div class="sidebar-header">
                <h5>Encoder</h5>
            </div>

            <ul class="sidebar-menu">

                <li>
                    <NavLink class="sidebar-link"
                             href="home"
                             Match="NavLinkMatch.All">

                        <span class="bi bi-house-door-fill"></span>
                        Home

                    </NavLink>
                </li>

                <li>
                    <NavLink class="sidebar-link"
                             href="mapitem">

                        <span class="bi bi-plus-square-fill"></span>
                        Map Items

                    </NavLink>
                </li>

                <li>
                    <NavLink class="sidebar-link"
                             href="profile">

                        <span class="bi bi-person"></span>
                        Profile

                    </NavLink>
                </li>

                <li>
                    <NavLink class="sidebar-link"
                             href="settings">

                        <span class="bi bi-gear"></span>
                        Settings

                    </NavLink>
                </li>

                <li>
                    <NavLink class="sidebar-link"
                             href="help">

                        <span class="bi bi-question-circle"></span>
                        Help

                    </NavLink>
                </li>

            </ul>

        </nav>

        <!-- Content -->
        <main class="main-content">
            @Body
        </main>

    </div>

</div>