<header class="user-topbar">

    <!-- Left Side -->
    <div class="topbar-left">

        <button class="menu-btn"
                @onclick="OnHamburgerClick">

            <span class="bi bi-list"></span>

        </button>

        <img src="/favicon.png"
             alt="Logo"
             class="site-logo" />

        <span class="site-name">
            Entriél
        </span>

    </div>

    <!-- Right Side -->
    <div class="topbar-right">

        <a class="logout-btn"
           href="/logout">

            <span class="bi bi-box-arrow-right"></span>

            Logout

        </a>

    </div>

</header>