

<header class="user-topbar">

    <!-- Left Side -->
    <div class="topbar-left">

        <button class="menu-btn" 
        type="button" 
        @onclick="() => OnHamburgerClick.InvokeAsync()">
            <span class="hamburger-icon" aria-hidden="true">
                <span></span>   
                <span></span>
                <span></span>
            </span>

        </button>

        <img src="/images/WebsiteLogo.png"
             alt="Logo"
             class="site-logo" />

        <span class="site-name">
            Entriél
        </span>

    </div>

    <!-- Right Side -->
    <div class="topbar-right">

        <a class="logout-btn"
           href="/logout">

            <span class="bi bi-box-arrow-right"></span>

            Logout

        </a>

    </div>

</header>

@code {
    [Parameter]
    public EventCallback OnHamburgerClick { get; set; }
}