.user-topbar {
    height: 50px;
    background: rgba(224, 184, 255, 0.45);
    backdrop-filter: blur(10px);
}

    .user-topbar .site-logo {
        width: 32px;
        height: 32px;
        object-fit: contain;
       
    }
