<div class="card">
	<div class="card-content">
		<div class="card-text">
			<h4>@Subdistributor.SubdCode</h4>
			<div class="subdname">
				<h3>@STTproject.Shared.Helper.FormatHelper.ToAllCaps(Subdistributor.SubdName)</h3>
			</div>

			<p>@STTproject.Shared.Helper.FormatHelper.FormatLocation(Subdistributor.CityMunicipality, Subdistributor.Province ?? string.Empty)</p>
		</div>

		<button type="button" class="example" @onclick="HandleInputInvoice">
			INPUT INVOICE
		</button>
	</div>
</div>
