@using STTproject.Models

<div class="line">
    <h3 class="title">SALES INVOICE</h3>

        <div class="filter-group">
            <label>Subd Code</label>

            <select @bind="SelectedSubdId" @bind:after="HandleChange">
                @foreach (var s in Subdistributors)
                {
                    <option value="@s.SubDistributorId">
                        @s.SubdCode
                    </option>
                }
            </select>
        </div>

        <div class="filter-group">
            <label>Subd Name</label>
            <input value="@SelectedSubdName" disabled />
        </div>
    
</div>

@code {
    [Parameter] public List<SubDistributor> Subdistributors { get; set; } = new();

    [Parameter] public int SelectedSubdId { get; set; }
    [Parameter] public EventCallback<int> SelectedSubdIdChanged { get; set; }

    [Parameter] public EventCallback<SubDistributor> OnSubdChanged { get; set; }

    string SelectedSubdName = "";

    protected override void OnParametersSet()
    {
        UpdateDisplay();
    }

    async Task HandleChange()
    {
        await SelectedSubdIdChanged.InvokeAsync(SelectedSubdId);

        var selected = Subdistributors.FirstOrDefault(x => x.SubDistributorId == SelectedSubdId);

        if (selected != null)
        {
            SelectedSubdName = selected.SubdName;
            await OnSubdChanged.InvokeAsync(selected);
        }
    }

    void UpdateDisplay()
    {
        var selected = Subdistributors.FirstOrDefault(x => x.SubDistributorId == SelectedSubdId);
        SelectedSubdName = selected?.SubdName ?? "";
    }
}