<h3>CustPerSubd</h3>

<div class="card">
    @* a card that shows a bar graph of number of customers per subd also tha total number customers it sould also indicate the number of active and not active  *@
</div>
@code {

}
