@using STTproject.Models
@using STTproject.Services

@if (     ShowModal)
{
    <div class="modal-overlay">
        <div class="modal-box">
            <div class="modal-header">
                <h4>Filter Template</h4>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>SubDistributor</label>
                    <select>
                        <option value="0">-- Select Sub Distributor --</option>
                        @foreach (var subd in subdList)
                        {
                            <option value="@subd.SubDistributorId">@subd.SubdName</option>
                        }
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Principal</label>
                        <select>
                            <option value="value">All</option>
                        </select>
                    </div>
                    <button class="btn-primary" @onclick="ModalTemplate">Download</button>
                </div>
        </div>
    </div>
     
}

@code {
    [Parameter]
    public bool ShowModal { get; set; }
    private List<SubDistributor> subdList = new();
    [Parameter]
    public EventCallback ModalTemplate { get; set; }
 
    }
