@page "/"
@using STTproject.Components.Helper
@using System.Linq
@using STTproject.Models
@using STTproject.Services
@rendermode InteractiveServer

@inject IHomeService homeService
@inject NavigationManager Navigation


<div class="title">
    <h2>Hello, @UserFullName</h2>
</div>

<!-- CARDS -->
<div class="cards">
    @foreach (var subd in subdList)
    {
        <div class="card">

            <div class="card-content">
                <div class="card-text">
                    
                    <h4>@subd.SubdCode</h4>
                    <div class="subdname">
                        <h3>@FormatHelper.ToAllCaps(subd.SubdName)</h3>
                    </div>
                   
                    <p>@FormatHelper.FormatLocation(subd.CityMunicipality, subd.Province ?? string.Empty)</p>
                </div>

                <button class="btn-primary" @onclick="() => InputSalesInvoice(subd.SubDistributorId)">
                    INPUT INVOICE
                </button>
            </div>

             
        </div>
    }
</div>

<!-- RECENT ACTIVITY Table to be moved-->
<div class="activity">
    <h3>Recent Activity...</h3>

    <!-- FILTERS -->
    <div class="filters">
        <div class="filter-group">
            <label>SUB DISTRIBUTOR</label>
            <select>
                <option value="">ALL</option>
            </select>
        </div>

        <div class="filter-group">
            <label>DATE</label>
            <input type="date" />
        </div>

        <div class="filter-group">
            <label>SORT BY</label>
            <select>
                <option value="">None</option>
                <option value="date">Date</option>
            </select>
        </div>
    </div>

    <!-- HEADER -->
    <div class="activity-header">
        <span>BATCH ID</span>
        <span>SubdCode</span>
        <span>Invoice Date</span>
    </div>

</div>

@code {
    private int userid = 7; // Placeholder for user ID, to be replaced with actual user context
    private string UserFullName = string.Empty;

    private List<SubDistributor> subdList = new();

    protected override async Task OnInitializedAsync()
    {
        var user = await homeService.GetUserAsync(userid);
        if (user != null)
        {
            UserFullName = user.FullName;
        }

        subdList = await homeService.GetSubDistributorsAsync(userid);
    }

    void InputSalesInvoice(int subDistributorId)
    {
        Navigation.NavigateTo($"/salesinvoice/{subDistributorId}");
    }



}