@page "/home"
@using STTproject.Features.User.Home.Components.Sections
@using STTproject.Data
@using STTproject.Services

@rendermode InteractiveServer

@inject IHomeService homeService
@inject IUserContextService userContext
@inject NavigationManager Navigation


<div class="title">
    <h2>Hello, @UserFullName</h2>
</div>

<!-- CARDS -->
<div class="cards">
    @foreach (var subd in subdList)
    {
        <SubdCard Subdistributor="subd" OnInputInvoice="InputSalesInvoice" />
    }
</div>

<!-- RECENT ACTIVITY Table to be moved-->
<RecentActivityTable UserId="userid" SubdList="subdList" />


