@page "/"
@using STTproject.Components.Helper
@using System.Linq
@using STTproject.Data
@rendermode InteractiveServer

@inject AppDbContext db
@inject NavigationManager Navigation




<div class="container">
    <div class="title">
        <h2>Hello, Encoder!</h2>
    </div>

    <!-- CARDS -->
    <div class="cards">
        @foreach (var subd in db.SubDistributors)
        {
            <div class="card">

                <div class="card-content">
                    <h4>@subd.SubdCode</h4>
                    <div class="subdname">
                        <h3>@FormatHelper.ToAllCaps(subd.SubdName)</h3>
                    </div>
                   
                    <p>@FormatHelper.FormatLocation(subd.CityMunicipality, subd.Province)</p>
                </div>

                <button class="invoice-btn" @onclick="() => InputSalesInvoice(subd.SubDistributorId)">
                    INPUT INVOICE
                </button>

             

            </div>
        }
    </div>

</div>

@code {

    void InputSalesInvoice(int subDistributorId)
    {
        Navigation.NavigateTo($"/salesinvoice/{subDistributorId}");
    }

}