.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.top-buttons {
    margin-bottom: 15px;
}

.btn {
    background-color: #b77b7b;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 12px;
    margin-right: 5px;
    cursor: pointer;
}

.save-btn {
    float: right;
}

.add-btn {
    margin-top: 10px;
    width: 100%;
}

.card {
    background: #e6c7c7;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.full-width {
    grid-column: span 3;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

input {
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    border: none;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 0 8px;
}

th {
    text-align: left;
    font-size: 12px;
}

td {
    background: white;
    padding: 6px;
    border-radius: 8px;
}

.center {
    text-align: center;
}
