@using Microsoft.AspNetCore.Components.Routing
@using STTproject.Services

@inherits LayoutComponentBase

@inject IUserContextService userContext

@inject NavigationManager Navigation

<div>
    <AdminTopBar />

    <div class="d-flex">
        <nav class="sidebar admin-sidebar bg-dark d-flex flex-column p-3" style="width:240px;min-width:200px;">
            <div class="mb-3">
                <h5 class="m-0 text-white">Admin Menu</h5>
            </div>

            <ul class="nav nav-pills flex-column mb-3">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                        <span class="bi bi-speedometer2 me-2" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/companyitem">
                        <span class="bi bi-box-seam me-2" aria-hidden="true"></span> Company Items
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/customer">
                        <span class="bi bi-file-earmark-text me-2" aria-hidden="true"></span> Customers
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/report">
                        <span class="bi bi-archive me-2" aria-hidden="true"></span> Report
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/salesinvoice">
                        <span class="bi bi-person-badge me-2" aria-hidden="true"></span> Sales Invoices
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/subditem">
                        <span class="bi bi-people me-2" aria-hidden="true"></span> SubDistributors Items
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/users">
                        <span class="bi bi-bar-chart me-2" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </ul>
        </nav>

        <main class="flex-grow-1 p-3">
            @Body
        </main>
    </div>
</div>

