<h3>TableWrapper</h3>
@* accept title of table, header and column definitions, and render a table with the provided data. The component should be flexible enough to handle different types of data and allow for customization of the table's appearance and behavior and add sort functionality to the table columns. *@
@* allow to be pagination or scrollable *@
@code {

}
